/* HTML TAG section */

body {
    background-color: #EEEEEE;
    color: #393E46;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
    margin-bottom: 20px;
}


p {
    line-height: 1.75;
}

a {
    color: #00ADB5;
    text-decoration: none;
}

a:hover {
    color: #009299;
}



.container-fluid {
    padding: 3% 15%;
}

.btn-dark {
    background-color: #222831;
}

.btn-dark:hover {
    background-color: #393E46;
}

.section-title {
    margin-bottom: 2%;
}
/* Title section */

#title {
    padding-bottom: 35px;
}

.navbar {
    padding-bottom: 3rem;
}

.nav-item {
    padding: 0 15px;
}

#title img {
    height: 300px;
    padding-bottom: 2rem;
}

/* About me section */

#about-me {
    padding: 15px 0px;
    background-color: #393E46;
    color: #EEEEEE;
}

#about-me p {
    text-align: left;
}

.description {
    margin: 0% 10%;
}

.skills {
    margin: 0% 10% 3% ;
}

.description {
    padding-bottom: 3%;
}

.progress {
    margin: 10px;
}

.progress-bar {
    text-align: left;
    letter-spacing: 1px;
    background-color: #00ADB5;
}

.btn-soft-skills {
    background-color: #EEEEEE;
    margin: 0 15px 15px;
}

/* Education section */

#education {
    padding: 15px 0px;
}

#education strong {
    font-size: 15px;
    font-weight: 500;
}

.education-element {
    background-color: #DDDDDD;
    border-radius: 25px;
    margin: 0 10% 3%;
    padding: 15px;
    position: relative;
    text-align: left;
}

.education-element i {
    position: absolute;
    top: 20px;
    right: 20px;
}

.education-title {
    margin-bottom: 0px;
}

.education-description {
    margin: 0 2%
}

.years {
    font-size: 15px;
}
/* Experience section */

#experience {
    padding: 15px 0px;
    background-color: #393E46;
    color: #EEEEEE;
}

#experience strong {
    font-size: 15px;
    font-weight: 500;
}

#experience ul li:before {    
    font-family: 'FontAwesome';
    font-size: smaller;
    content: '\f00c';
    margin: 0 5px 0 -15px;
    color: #00ADB5;
}

.work-element {
    background-color: #222831;
    border-radius: 25px;
    margin: 0 10% 3%;
    padding: 15px;
    position: relative;
    text-align: left;
}

.last-element {
    margin: 0 10% 0;
}

.work-element i {
    position: absolute;
    top: 20px;
    right: 20px;
}

.work-title {
    margin-bottom: 0px;
}

.work-description {
    margin: 0 2%
}

/* Contact section */

#contact {

}

#btn-contact {
    margin: 2% 0%;
}

/* Footer */

#footer {
    background-color: #222831;
}

#footer i {
    margin: 20px 15px;
    color: #EEEEEE;
    
}

#footer i:hover {
    color: #00ADB5;
}

#footer p {
    color: #EEEEEE;
}


#footer .container-fluid {
    padding: 3%;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border-radius: 100%;
    background-color: #00ADB5;
    border-color: #00ADB5;
}

#btn-back-to-top:hover {
    background-color: #009299;
    border-color: #009299;
}

@media (max-width: 991px) {
    .container-fluid {
        padding: 5% 3%;
    }
    .description {
        margin: 0% 5%;
    }
    .skills {
        margin: 0% 5% 5%;
    }
    .education-element {
        margin: 0 5% 5%;
    }
    .work-element{
        margin: 0 5% 5%;
    }
    .last-element {
        margin: 0 5% 0;
    }
}