/* HTML TAG section */

body {
    background-color: #EEEEEE;
    color: #393E46;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo', sans-serif;
    line-height: 1.5;
    margin-bottom: 20px;
}

p {
    line-height: 1.75;
}

a {
    color: #00ADB5;
    text-decoration: none;
}

a:hover {
    color: #009299;
}

/* Bootstrap elements */

.container-fluid {
    padding: 3% 15%;
}

.btn-dark {
    background-color: #222831;
}

.btn-dark:hover {
    background-color: #393E46;
}

.progress {
    margin: 10px;
}

.progress-bar {
    font-weight: 500;
    text-align: left;
    letter-spacing: 1px;
    background-color: #00ADB5;
}

/* General elements */

.section-title {
    font-weight: 600;
}

.section-subtitle {
    text-align: left;
    margin: auto 25px 0 auto;
}

.inner-container {
    margin: 0% 10% 5%;
}

.container-dark {
    padding: 25px 0;
    background-color: #393E46;
    color: #EEEEEE;
}

.container-transparent {
    padding: 25px 0;
}

.container-rounded-dark {
    background-color: #222831;
    border-radius: 25px;
    margin: 0 10% 3%;
    padding: 25px;
    position: relative;
    text-align: justify;
}

.container-rounded-light {
    background-color: #DDDDDD;
    border-radius: 25px;
    margin: 0 10% 3%;
    padding: 25px;
    position: relative;
    text-align: justify;
}

.btn-dropdown {
    position: absolute;
    top: 25px;
    right: 25px;
}

.last-element {
    margin: 0 10% 0;
}

.dropdown-description {
    text-align: justify;
    margin: 1% 2%
}

/* Title section */

#title {
    padding-bottom: 35px;
}

.navbar {
    font-family: 'Archivo', sans-serif;
    padding: 0 0 3rem;
}

.nav-item {
    padding: 0 15px;
}

.name {
    font-weight: 600;
}

.profile-picture {
    height: 300px;
    padding-bottom: 2rem;
}

/* About me section */

#about-me p {
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-download {
    margin: 15px;
}

.btn-soft-skills {
    background-color: #EEEEEE;
    margin: 0 15px 15px;
    cursor: default;
    
}

.btn-soft-skills:hover {
    color: #fff;
    background-color: #222831;
    border-color: #222831;
}

/* Education section */

.years-location {
    font-size: 15px;
    text-align: left;
    margin-bottom: 0;
}

.years-location strong {
    font-weight: 600;
}

/* Experience section */

#experience ul li:before {    
    font-family: 'FontAwesome';
    font-size: smaller;
    content: "\f120";
    margin: 0 5px 0 -15px;
    color: #00ADB5;
}

/* Contact section */

#btn-contact {
    margin: 2% 0%;
}

/* Footer */

#footer i {
    margin: 20px;
    color: #EEEEEE; 
}

#footer i:hover {
    color: #00ADB5;
}

.container-footer {
    color: #EEEEEE;
    background-color: #222831;
    padding: 3%;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border-radius: 100%;
    background-color: #00ADB5;
    border-color: #00ADB5;
}

#btn-back-to-top:hover {
    background-color: #009299;
    border-color: #009299;
}

#btn-back-to-top i:hover {
    color: #EEEEEE;
}

/* Responsive */

@media (max-width: 991px) {
    .container-fluid {
        padding: 5% 4%;
    }
    .inner-container {
        margin: 0% 5% 5%;
    }
    .container-rounded-dark {
        margin: 0 5% 5%;
    }
    .container-rounded-light{
        margin: 0 5% 5%;
    }
    .last-element {
        margin-bottom: 0;
    }
}